body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
#root{
    margin: 0;
    padding: 0;
}
div {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    width: 100%;
    /* background-color: #1c1c1c;
    color: white; */
}
div > div {
    width: 50%;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    width : 100%;
}

h2 {
    justify-content: center;
    text-align: center;
    width : 50%;
}
h3 {
    justify-content: center;
    text-align: center;
    width : 50%;
    white-space: nowrap;
}
.DonutChart, .MultiSeriesPieChart, .PieChart, .PolarAreaChart, .BarChartBorderRadius {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}